.footer{
    background: #1c1d21;
    padding:60px 0;
 }
 .footer-icons{
    margin-bottom:20px;
 }
 .footer-icons li{
     display: inline-block;
     width:50px;
     margin-right:4px;
 }
 .footer-icons li a{
     display: block;
     padding:17px 0;
 }
 .footer .copyright{
     font-size: 15px;
 }