.nav{
    position:fixed;
    z-index:10;
    width:100%;
    background: rgba(0, 0, 0, 0.4);
}
.nav img{
    width: 6%;
    margin-top:9px;
}
.nav-links{
    float:right;
    width:70%;
    text-align:right;
    font-size:14px;
}
.nav-links > li{
    display:inline-block;
}
.nav-links .drop{
    position: relative;
}
.nav-links .drop-menu{
    position: absolute;
    left:-20%;
    top:80%;
    width:140%;
    opacity:0;
    visibility: hidden;
    transition:opacity 2s;
}
.nav-links .drop:hover .drop-menu{
    opacity: 1;
    visibility: visible;
}
.nav-links .drop-menu li a{
    display: block;
    padding: 10px 0;
}
.nav-links >li >a{
    display:block;
    padding:15px 20px;
}
.nav-links >li >a::after{
    content: "";
    display: block;
    height:3px;
    width:0;
    background: var(--mainColor);
    transition:width .5s;
}
.nav-links >li >a.active::after,
.nav-links >li >a:hover::after{
    width:100%;
}
